* {
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
canvas {
  border: 0.1px solid grey;
}
.separator {
  color: grey;
}
